
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body>
    <div>
        <br>
        <center>
            <h1 style="text-align:center"><u>Curriculum Vitae</u></h1>
            <h2>

                <button class="favorite styled" type="button"><a href="/CV/intro">Home</a></button>
                <button class="favorite styled" type="button"><a href="/CV/Personaldetails">Personal Information</a></button>
                <button class="favorite styled" type="button"> <a href="/CV/Education">Education</a></button>
                <button class="favorite styled" type="button"><a href="/CV/Experience">Experience</a></button>
                <button class="favorite styled" type="button"><a href="/CV/Skill">Skill</a></button>

            </h2>

            <br>

           <h2> 2015-2016 - SSC</h2>
           <h2> 2017-2018 - HSC</h2>
           <h2>2019-2023 - Bachelor of Science in Computer Science</h2>

            <center />


</div>
</body>
</html>
